Carronet/Web References/movida/OTA2013B19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" targetNamespace="http://www.opentravel.org/OTA/2003/05" version="5.000" id="OTA2013B" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="OTA_VehicleCommonTypes.xsd" />
  <xs:annotation>
    <xs:documentation source="Description" xml:lang="en">
            ALL SCHEMA FILES IN THE OPENTRAVEL ALLIANCE SPECIFICATION ARE MADE AVAILABLE ACCORDING TO THE TERMS DEFINED BY THE OPENTRAVEL LICENSE AGREEMENT AT http://www.opentravel.org/Specifications/Default.aspx.
        </xs:documentation>
  </xs:annotation>
  <xs:element name="OTA_VehLocDetailRS">
    <xs:annotation>
      <xs:documentation xml:lang="en">
                Vehicle Location Detail response will allow car rental providers to return information about the location requested to assist the customer. This information includes address, phone number, informational messages, parking and counter location, services, and operating schedule of the location requested.
            </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element name="Success" type="SuccessType" />
          <xs:element minOccurs="0" name="Warnings" type="WarningsType" />
          <xs:element minOccurs="0" name="Vendor" type="CompanyNameType">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                                Information on the vendor associated with this rental location.
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="LocationDetail" type="VehicleLocationDetailsType">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                                Information on the rental location, including address, telephone, directions, hours of operations, etc.
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Vehicles" type="VehicleLocationVehiclesType">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                                Information on the vehicles that are offered for rental at this facility.
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Requirements" type="VehicleLocationRequirementsType">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                                Information on the requirements that are in place with regard to the renting of a vehicle. Such requirements include license requirements, age requirements, payment options, etc. These are requirement that typically must be met by the renter before a rental may commence. This element may also be used to provide Information on the restrictions that are in place with regard to the renting of a vehicle. Such restrictions include geographic restrictions on the use of the vehicle, restrictions on where the vehicle may be returned, etc.
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="AdditionalFees" type="VehicleLocationAdditionalFeesType">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                                Information on additional fees, taxes and surcharges that are included in the cost of a rental, when renting from this facility. Different facilities are required to impose different fees and surcharges based upon location and local laws.
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Liabilities" type="VehicleLocationLiabilitiesType">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                                Information on the financial liabilities assumed by the renter when renting from this facility, along with optional coverage to reduce the financial liabilities.
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ServicesOffered" type="VehicleLocationServicesOfferedType">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                                Information on the services offered at the rental location. Services can be either on-location or off-location, and may include the rental of special equipment.
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Date">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                                The pick-up and return dates for the location information requested.
                            </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="PickUpDateTime" type="DateOrDateTimeType" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                                        The date at which a car will be picked up at this location.
                                    </xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="ReturnDateTime" type="DateOrDateTimeType" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                                        The date at which a car will be returned at this location.
                                    </xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" ref="TPA_Extensions" />
        </xs:sequence>
        <xs:element minOccurs="0" name="Errors" type="ErrorsType" />
      </xs:choice>
      <xs:attributeGroup ref="OTA_PayloadStdAttributes" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="VehicleLocDetailRSAdditionalInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
                The Vehicle Location Detail Additional InfoType is used to define supplemental information on the location details of the rental facility.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="TPA_Extensions" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VehicleLocDetailRSCoreType">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="VehicleLocationRequirementsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
                The Vehicle Location Requirements Type is used to define information on the requirements that are in place with regard to the renting of a vehicle. Such requirements include license requirements, age requirements, payment options, etc. These are requirement that typically must be met by the renter before a rental may commence.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Age">
        <xs:annotation>
          <xs:documentation xml:lang="en">
                        Information associated with the age requirements of renting a vehicle.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="5" name="AgeSurcharge">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Surcharge information that may be applied based upon age of the renter.
                                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="Age" type="OTA_CodeType">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">
                                            Used to describe the age category of the driver for which an additional surcharge will apply. Refer to OpenTravel Code List Age Qualifying Code (AQC).
                                        </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attributeGroup ref="CurrencyAmountGroup" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="AgeInfos">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Collection of descriptions about the different requirements related to age of driver.
                                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="99" name="AgeInfo">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                                                Textual description about a specific restriction related to age of driver.
                                            </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:complexContent mixed="false">
                        <xs:extension base="FormattedTextType">
                          <xs:attribute name="Type" type="LocationDetailRequirementAgeInfoType" use="required">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Identifies the type of Age Requirement.</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MinimumAge" type="xs:positiveInteger" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                                Identifies the minimum age of a person allowed to rent a vehicle from this rental facility.
                            </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="MaximumAge" type="xs:positiveInteger" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                                Identifies the maximum age of a person allowed to rent a vehicle from this rental facility.
                            </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="AdditionalDriver">
        <xs:annotation>
          <xs:documentation xml:lang="en">
                        Information associated with requirements regarding additional drivers and the rental vehicle.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="AddlDriverInfos">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Collection of descriptions about the different requirements related to additional drivers.
                                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="99" name="AddlDriverInfo">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                                                Textual description about a specific restriction related to additional drivers.
                                            </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:complexContent mixed="false">
                        <xs:extension base="FormattedTextType">
                          <xs:attribute name="Type" type="LocationDetailRequirementAddlDriverInfoType" use="required">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                                                Identifies the type of Additional Driver information.
                                                            </xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="PaymentOptions">
        <xs:annotation>
          <xs:documentation xml:lang="en">
                        Information of the requirements regarding the payment of the rental.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="CreditCard" type="AcceptablePaymentCardsInfoType">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Information on the requirements and policies regarding the use of credit cards to pay for the rental.
                                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="DebitCard" type="AcceptablePaymentCardsInfoType">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Information on the requirements and policies regarding the use of debit cards to pay for the rental.
                                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Cash">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Information on the requirements regarding the use of cash to pay for the rental.
                                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="Info" type="FormattedTextType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                                                General information regarding the use of cash as a form of payment.
                                            </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Voucher">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Information on the requirements regarding the use of vouchers to pay for the rental.
                                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="Info" type="FormattedTextType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                                                General information regarding the use of vouchers as a form of payment.
                                            </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="BankAcct">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Information on the requirements regarding the use of direct-draft Bank Accounts to pay for the rental.
                                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="Info" type="FormattedTextType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                                                General information regarding the use of direct-draft Bank Accounts as a form of payment.
                                            </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="DirectBill">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Information on the requirements regarding the use of direct-billing arrangements to pay for the rental.
                                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="Info" type="FormattedTextType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                                                General information regarding the use of direct-billing arrangements as a form of payment.
                                            </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="LoyaltyRedemption">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Information on the requirements regarding the use of loyalty points to pay for the rental.
                                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="Info" type="FormattedTextType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                                                General information regarding the use of loyalty points as a form of payment.
                                            </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="MiscChargeOrder">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Information on the requirements regarding the use of Miscellaneous Charge Orders.
                                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="Info" type="FormattedTextType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                                                General information regarding the use of Miscellaneous Charge Orders as a form of payment.
                                            </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Deposit" type="AcceptablePaymentCardsInfoType">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Information on the requirements and policies regarding deposits that may be required for the rental.
                                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Guarantee" type="AcceptablePaymentCardsInfoType">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Information on the requirements and policies regarding guarantees that may be required for the rental.
                                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="PrePayment" type="AcceptablePaymentCardsInfoType">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Information on the requirements and policies regarding pre-payments that may be required for the rental.
                                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="PaymentOptionsInfo" type="FormattedTextType">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    General information on other restrictions associated with the payment of a rental.
                                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="RequirementInfos">
        <xs:annotation>
          <xs:documentation xml:lang="en">
                        Collection of descriptions about various requirements enforced by this location.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="99" name="RequirementInfo">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Textual description about a specific requirement that is enforced by this location.
                                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="FormattedTextType">
                    <xs:attribute name="Type" type="LocationDetailRequirementInfoType" use="required">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                                                    Identifies the type of Requirement information that is provided.
                                                </xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" ref="TPA_Extensions" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VehicleLocationServicesOfferedType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
                The Vehicle Location Services Offered Type is used to define information on the services offered at the rental location. Services can be either on-location or off-location, and may include the rental of special equipment.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="OnLocationServices">
        <xs:annotation>
          <xs:documentation xml:lang="en">
                        A collection of services offered at the rental facility, such as special member services, fast-rental options, etc.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="99" name="OnLocationService">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Information on one specific on-location service, including the description, the hours during which this service is offered, and any charges that may be associated with this service.
                                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="OnLocServiceDesc">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">A description of this on-location service.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:complexContent mixed="false">
                        <xs:extension base="FormattedTextType" />
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="OperationSchedules" type="OperationSchedulesType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                                                The hours during which this on-location service are offered.
                                            </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="OnLocServiceCharges">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                                                A collection of charges associated with this on-location service. There may be multiple charges if the charge varies by vehicle type.
                                            </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="99" name="OnLocServiceCharge">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">One specific charge for this on-location service.</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:complexContent mixed="false">
                              <xs:extension base="VehicleChargeType">
                                <xs:sequence>
                                  <xs:element minOccurs="0" name="Vehicles">
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">
                                                                                A collection of vehicles for which this charge applies. This is to be used when the charge associated with the service is not the same charge for all vehicle types.
                                                                            </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element maxOccurs="99" name="Vehicle" type="VehicleCoreType">
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">
                                                                                            One specific vehicle type for which this charge applies. This is to be used when the charge associated with the service varies according to vehicle type.
                                                                                        </xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:extension>
                            </xs:complexContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="Type" type="OnLocationServiceID_Type" use="required">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">
                                            Identifies the type of On-Location service that is available.
                                        </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="OffLocationServices">
        <xs:annotation>
          <xs:documentation xml:lang="en">
                        A collection of services offered away from the rental facility, such as vehicle delivery and pickup, customer collecton and return.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="99" name="OffLocationService">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Information on one specific off-location service, including the description, the hours during which this service is offered, and any charges that may be associated with this service.
                                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="OffLocServiceDesc">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">A description of this off-location service.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:complexContent mixed="false">
                        <xs:extension base="FormattedTextType" />
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="OperationSchedules" type="OperationSchedulesType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                                                The hours during which this off-location service are offered.
                                            </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="OffLocServiceCharges">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                                                A collection of charges associated with this off-location service. There may be multiple charges if the charge varies by vehicle type.
                                            </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="99" name="OffLocServiceCharge">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">One specific charge for this off-location service.</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:complexContent mixed="false">
                              <xs:extension base="VehicleChargeType">
                                <xs:sequence>
                                  <xs:element minOccurs="0" name="Vehicles">
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">
                                                                                A collection of vehicles for which this charge applies. This is to be used when the charge associated with the service is not the same charge for all vehicle types.
                                                                            </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element maxOccurs="99" name="Vehicle" type="VehicleCoreType">
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">
                                                                                            One specific vehicle type for which this charge applies. This is to be used when the charge associated with the service varies according to vehicle type.
                                                                                        </xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:extension>
                            </xs:complexContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="Type" type="OffLocationServiceID_Type" use="required">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">
                                            Identifies the type of Off-Location service that is available.
                                        </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="SpecialEquipments">
        <xs:annotation>
          <xs:documentation xml:lang="en">
                        A collection of descriptions about the special pieces of equipment that can be included in a rental from this facility.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="99" name="SpecialEquipment">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                                    Information on one specific piece of special equipment.
                                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="EquipDesc" type="FormattedTextType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                                                The description of this piece of special equipment.
                                            </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="EquipCharges">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                                                The charges associated with the rental of this piece of special equipment. There may be multiple charges if the charge varies by vehicle type.
                                            </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="99" name="EquipCharge">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                                                            A specific charge for the rental of the piece of special equipment.
                                                        </xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:complexContent mixed="false">
                              <xs:extension base="VehicleChargeType">
                                <xs:sequence>
                                  <xs:element minOccurs="0" name="Vehicles">
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">
                                                                                A collection of vehicles for which this charge applies. This is to be used when the charge associated with the special equipment is not the same charge for all vehicle types.
                                                                            </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element maxOccurs="99" name="Vehicle" type="VehicleCoreType">
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">
                                                                                            This element may be used to clarify the vehicle associated with this charge, if the charge varies by vehicle type.
                                                                                        </xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:extension>
                            </xs:complexContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="Type" type="OTA_CodeType" use="required">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">
                                            Identifies the specific type of special equipment that is being described. Refer to OpenTravel Code List Equipment Type (EQP).
                                        </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" ref="TPA_Extensions" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>