Carronet/Web References/movida/OTA2013B9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" targetNamespace="http://www.opentravel.org/OTA/2003/05" version="5.000" id="OTA2013B" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="OTA_VehicleCommonTypes.xsd" />
  <xs:annotation>
    <xs:documentation source="Description" xml:lang="en">
			ALL SCHEMA FILES IN THE OPENTRAVEL ALLIANCE SPECIFICATION ARE MADE AVAILABLE ACCORDING TO THE TERMS DEFINED BY THE OPENTRAVEL LICENSE AGREEMENT AT http://www.opentravel.org/Specifications/Default.aspx.
		</xs:documentation>
  </xs:annotation>
  <xs:element name="OTA_VehAvailRateRS">
    <xs:annotation>
      <xs:documentation xml:lang="en">
				This element is the base element of the Vehicle Availability and Rates response message. The root element contains the standard payload attributes found in all OpenTravel payload documents.
			</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element name="Success" type="SuccessType">
            <xs:annotation>
              <xs:documentation xml:lang="en">
								An element that is not intended to contain any data. The mere presence of a success element within the response message indicates that the incoming request message was processed successfully.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Warnings" type="WarningsType">
            <xs:annotation>
              <xs:documentation xml:lang="en">
								Indicates that the recipient of the request message identified one or more business-level warnings/errors, but the message itself was successfully processed.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="VehAvailRSCore" type="VehicleAvailRSCoreType">
            <xs:annotation>
              <xs:documentation xml:lang="en">
								Identifies the common, or core, information associated with the response providing information on the availability of rental vehicles.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="VehAvailRSInfo" type="VehicleAvailRSAdditionalInfoType">
            <xs:annotation>
              <xs:documentation xml:lang="en">
								Identifies the supplemental information associated with the response poviding information on the availability of rental vehicles.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:element name="Errors" type="ErrorsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">
							Indicates that an error occurred in the processing of the incoming request message. An error is defined as a malformed XML message that could not be processed.
						</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:attributeGroup ref="OTA_PayloadStdAttributes" />
    </xs:complexType>
  </xs:element>
</xs:schema>