Carronet/Web References/movida/OTA2013B13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" targetNamespace="http://www.opentravel.org/OTA/2003/05" version="4.000" id="OTA2013B" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="OTA_VehicleCommonTypes.xsd" />
  <xs:annotation>
    <xs:documentation source="Description" xml:lang="en">
			ALL SCHEMA FILES IN THE OPENTRAVEL ALLIANCE SPECIFICATION ARE MADE AVAILABLE ACCORDING TO THE TERMS DEFINED BY THE OPENTRAVEL LICENSE AGREEMENT AT http://www.opentravel.org/Specifications/Default.aspx.
		</xs:documentation>
  </xs:annotation>
  <xs:element name="OTA_VehModifyRS">
    <xs:annotation>
      <xs:documentation xml:lang="en">
				The root tag of OTA_VehModifyRS contains the standard payload attributes found in all OpenTravel payload documents.
			</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element name="Success" type="SuccessType" />
          <xs:element minOccurs="0" name="Warnings" type="WarningsType" />
          <xs:element minOccurs="0" name="VehModifyRSCore">
            <xs:annotation>
              <xs:documentation xml:lang="en">
								Identifies the common, or core, information associated with the response poviding information on the modification of a vehicle reservation.
							</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="VehicleModifyRSCoreType">
                  <xs:attribute name="ModifyStatus" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
												Used to specify the status of the reservation with either one of the enumerations in TransactionStatusType or an UpperCaseAlphaLength1to2 such as the IATA status code.
											</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:list itemType="TransactionStatusType" />
                    </xs:simpleType>
                  </xs:attribute>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="VehModifyRSInfo" type="VehicleModifyRSAdditionalInfoType">
            <xs:annotation>
              <xs:documentation xml:lang="en">
								Identifies the supplemental information associated with the response poviding information on the modification of a vehicle reservation.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:element name="Errors" type="ErrorsType" />
      </xs:choice>
      <xs:attributeGroup ref="OTA_PayloadStdAttributes" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="VehicleModifyRSAdditionalInfoType">
    <xs:annotation>
      <xs:documentation>
				The VehicleModifyRSAdditionalInfoType complex type identifies the data that is supplemental when modifing an existing vehicle reservation.
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="TPA_Extensions" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VehicleModifyRSCoreType">
    <xs:annotation>
      <xs:documentation>
				The VehicleModifyRSCoreType complex type identifies the data that is common when modifing an existing vehicle reservation.
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VehReservation" type="VehicleReservationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">
						Represents the vehicle rental reservation that was successfully created
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" ref="TPA_Extensions" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>