Carronet/Web References/movida/OTA2013B1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" targetNamespace="http://www.opentravel.org/OTA/2003/05" version="5.000" id="OTA2013B" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="OTA_VehicleCommonTypes.xsd" />
  <xs:annotation>
    <xs:documentation source="Description" xml:lang="en">
			ALL SCHEMA FILES IN THE OPENTRAVEL ALLIANCE SPECIFICATION ARE MADE AVAILABLE ACCORDING TO THE TERMS DEFINED BY THE OPENTRAVEL LICENSE AGREEMENT AT http://www.opentravel.org/Specifications/Default.aspx.
		</xs:documentation>
  </xs:annotation>
  <xs:element name="OTA_VehCancelRS">
    <xs:annotation>
      <xs:documentation xml:lang="en">
				The root tag of the OTA_VehCancelResRS contains the standard payload attributes found in all OpenTravel payload documents.
			</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element name="Success" type="SuccessType" />
          <xs:element minOccurs="0" name="Warnings" type="WarningsType" />
          <xs:element name="VehCancelRSCore">
            <xs:annotation>
              <xs:documentation xml:lang="en">
								Identifies the common, or core, information associated with the response to a request for the cancellation of a vehicle reservation.
							</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="CancelInfoRSType">
                  <xs:attribute name="CancelStatus" type="TransactionStatusType" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">The status of the canceled reservation.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="VehCancelRSInfo" type="VehicleCancelRSAdditionalInfoType">
            <xs:annotation>
              <xs:documentation xml:lang="en">
								Identifies the supplemental information associated with the response to a request for the cancellation of a vehicle reservation.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:element name="Errors" type="ErrorsType" />
      </xs:choice>
      <xs:attributeGroup ref="OTA_PayloadStdAttributes" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="VehicleCancelRSAdditionalInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
				The VehicleCancelRSAdditionalInfoType complex type defines the supplemental information that is used as part of the confirmation of the cancellation of a vehicle reservation.
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="VehReservation" type="VehicleReservationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">
						Details about the reservation that was successfully cancelled.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" ref="TPA_Extensions" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>